# ================================
# OpenTofu / Terraform
# ================================

**/.terraform/
**/*.tfstate
**/*.tfstate.*

# Default tfvars (kan secrets bevatten)
terraform.tfvars
**/terraform.tfvars

# Secrets tfvars (file-based secrets: MUST)
*.tfvars
*.auto.tfvars
!*.tfvars.example
!*.auto.tfvars.example

# ================================
# Secret folders / files
# ================================
**/secrets/**
secrets
secrets.*

# Proxmox-specific local secret files
proxmox.auto.tfvars

# ================================
# OpenTofu overrides
# ================================
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ================================
# Editor / OS rommel
# ================================
.vscode/
*.code-workspace
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ================================
# Logs & tijdelijke files
# ================================
*.log
*.tmp

# ================================
# (Optioneel) Generated artifacts
# ================================
*.txt

# Packer secrets/vars
*.pkrvars.hcl
!*.pkrvars.hcl.example
