proxmox_url      = "https://pve:8006/api2/json"
proxmox_node     = "pve1"
proxmox_vm_storage  = "local-lvm"
proxmox_iso_storage = "local"
windows_server_iso       = "windowsserver"

proxmox_token_id     = "hoofdgebruiker@pam!packer"
proxmox_token_secret = "CHANGE_ME"

ssh_username = "packer"
ssh_password = "CHANGE_ME"
